body {
    background-size: cover;
}

#Fast1{
		background: white;
		padding: 10px;
		float: none;
		border-radius: 50px;
        width: 17%;
        font-size: 20px;
}

#Fast2{
    background: white;
    padding: 10px;
    float: none;
    border-radius: 50px;
    width: 17%;
    font-size: 20px;
}

#Fast3{
    background: white;
    padding: 10px;
    float: none;
    border-radius: 50px;
    width: 17%;
    font-size: 20px;
}

#Fast4{
    background: white;
    padding: 10px;
    float: none;
    border-radius: 50px;
    width: 17%;
    font-size: 20px;
}

#Fast5{
    background: white;
    padding: 10px;
    float: none;
    border-radius: 50px;
    width: 17%;
    font-size: 20px;
}